@import "./modules/thinktank-slider.css";

:root {
  --font-from: 10;
  --font-to: 10;
  --vw-from: calc(1920 / 100);
  --vw-to: calc(2400 / 100);
  --coefficient: calc(
    (var(--font-to) - var(--font-from)) / (var(--vw-to) - var(--vw-from))
  );
  --base: calc(
    (var(--font-from) - var(--vw-from) * var(--coefficient)) / 16
  );
}

html {
  font-size: calc(var(--base) * 1rem + var(--coefficient) * 1vw);
}

@media screen and (max-width: 1920px) {
  :root {
    --font-from: 9;
    --font-to: 10;
    --vw-from: calc(1440 / 100);
    --vw-to: calc(1920 / 100);
  }
}

@media screen and (max-width: 1440px) {
  :root {
    --font-from: 7;
    --font-to: 9;
    --vw-from: calc(992 / 100);
    --vw-to: calc(1440 / 100);
  }
}

@media screen and (max-width: 992px) {
  :root {
    --font-from: 10;
    --font-to: 10;
    --vw-from: calc(960 / 100);
    --vw-to: calc(992 / 100);
  }
}

@media screen and (max-width: 960px) {
  :root {
    --font-from: 10;
    --font-to: 10;
    --vw-from: calc(479 / 100);
    --vw-to: calc(960 / 100);
  }
}

@media screen and (max-width: 479px) {
  :root {
    --font-from: 10;
    --font-to: 10;
    --vw-from: calc(360 / 100);
    --vw-to: calc(479 / 100);
  }
}

@media screen and (max-width: 360px) {
  :root {
    --font-from: 9;
    --font-to: 10;
    --vw-from: calc(320 / 100);
    --vw-to: calc(360 / 100);
  }
}

@media screen and (max-width: 320px) {
  :root {
    --font-from: 6;
    --font-to: 9;
    --vw-from: calc(1 / 100);
    --vw-to: calc(320 / 100);
  }
}

.font-f-season-mix {
  font-family: "Season Mix";
}

.font-size-body-m {
  font-size: var(--size-body-m);
}

#brxe-qmbqwm:focus-visible,
#brxe-cqxcbv:focus-visible,
#brxe-toalqu:focus-visible,
#brxe-tqrvyq:focus-visible,
#brxe-ldfqid:focus-visible,
#brxe-vthfyi:focus-visible,
#brxe-mhhnol:focus-visible {
  outline: 2px solid var(--brown);
  outline-offset: 2px;
}

#brxe-tqrvyq:focus-visible,
#brxe-ldfqid:focus-visible,
#brxe-vthfyi:focus-visible,
#brxe-mhhnol:focus-visible {
  border-radius: 999px;
}

@media (min-width: 992px) {
  #brx-header #brxe-spklen {
    align-items: center;
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    justify-content: space-between;
    width: 100%;
  }

  #brx-header #brxe-etginj,
  #brx-header #brxe-vhhhdt,
  #brx-header #brxe-vhhhdt > .bricks-nav-menu-wrapper,
  #brx-header #brxe-vhhhdt > .bricks-nav-menu-wrapper > .bricks-nav-menu,
  #brx-header #brxe-vhhhdt > .bricks-nav-menu-wrapper > .bricks-nav-menu > li {
    display: contents;
  }

  #brx-header #brxe-etginj > .brxe-svg {
    display: block;
    height: auto;
    width: 125px;
  }

  #brx-header
    #brxe-vhhhdt
    > .bricks-nav-menu-wrapper
    > .bricks-nav-menu
    > li::before {
    content: "";
    display: block;
    height: 3.2rem;
    opacity: 0.45;
    width: 1px;
    background-color: var(--brown);
  }

  #brx-header #brxe-vhhhdt > .bricks-nav-menu-wrapper > .bricks-nav-menu > li > a {
    align-items: center;
    display: inline-flex;
    white-space: nowrap;
  }

  #brx-header
    #brxe-vhhhdt
    > .bricks-nav-menu-wrapper
    > .bricks-nav-menu
    > li
    > a::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='4' viewBox='0 0 7 4' fill='none'%3E%3Cpath d='M5.7643 0.493801L3.12905 3.12905L0.493805 0.493801' stroke='%231B0508' stroke-width='0.9876' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 7px 4px;
    border-radius: 999px;
    background-color: rgba(224, 165, 69, 1);
    display: block;
    flex-shrink: 0;
    height: 24px;
    margin-left: 12px;
    width: 24px;
  }

  #brx-header #brxe-vhhhdt > .bricks-mobile-menu-toggle,
  #brx-header #brxe-vhhhdt > .bricks-mobile-menu-wrapper,
  #brx-header #brxe-vhhhdt > .bricks-mobile-menu-overlay {
    display: none !important;
  }

  #brx-header .arrow-nav {
    display: none !important;
  }
}
